In [ ]:
# Dropna()
import pandas as pd
import numpy as np
data = pd.Series([1,np.nan,5,6,7,8,8,np.nan])
print(data)
print(data.dropna()) # gives non null values
print(data[data.notna()]) # same as dropna

data1 = pd.DataFrame([[1,2,3,5.6],[1,np.nan,np.nan,3],[3,4,5,np.nan],[np.nan,np.nan,np.nan,np.nan]])
print(data1)
print(data1.dropna()) # any row who have nan value will drop
print(data1.dropna(how='all')) # it will drop only rows that are all NA.
data1[4] = np.nan # 4th column added 
print(data1)
print(data1.dropna(axis='columns',how='all')) # It will drop 4th columns because that are all nan.

df = pd.DataFrame(np.random.standard_normal((7,3)))
print(df)
df.iloc[:4,1] = np.nan # last one is exclusive
# df.loc[:4,1] = np.nan # Last one is inclusive
print(df)
print(df.dropna())
print(df.dropna(thresh=2)) # If any row have 2 nan value will drop from table.

In [ ]:
# Fillna()
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.standard_normal((7,3)))
df.iloc[:5,0] = np.nan
# print(df.fillna(12)) # It will place 12 on nan values space
# print(df.fillna({0:37,1:0}))

df1 = pd.DataFrame(np.random.standard_normal((6,3)))
print(df1)

           0         1         2
0  37.000000 -0.709105 -0.699002
1  37.000000  0.703066  1.334942
2  37.000000 -1.307694 -0.384400
3  37.000000  1.237155  0.689354
4  37.000000  1.781616 -0.684419
5   1.222278 -0.099313 -0.086966
6   0.774084 -1.500397  0.566242